/* ---------- General Styles */
main {
    flex: 1 0 auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #AAD7D9;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.heading {
    font-size: 3.5rem;
    margin-top: 10px;
}

#gamearea {
    background-color: #92C7CF;
    width: 80%;
    height: 60vh;
    margin: auto;
}

/* ---------- controls area */
#controlarea {
    margin-top: 10px;
}

.controls {
    background-color: white;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.controls img {
    width: 100%;
    height: auto;
}

/* ---------- Changes control images on mouse hover https://codepen.io/gg-1414/pen/pojXPKP */
.controls img:nth-child(2) {
    display: none;
}

.controls:hover img:nth-child(1) {
    display: none;
}

.controls:hover img:nth-child(2) {
    display: block;
}

/* ---------- choicearea */
#choicearea {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#choicearea div {
    padding: 10px;
}

#playerchoice,
#computerchoice {
    width: 100px;
    height: 150px;
}

#playerchoice img,
#computerchoice img {
    background-color: white;
    width: 100%;
    height: auto;
}

#result {
    font-size: 1.5rem;
}

/* ---------- scorearea */
#scorearea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

#scorearea p {
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 5px;
    margin-top: 30px;
    width: 75px;
}

/* ---------- result color changes */
.redtext {
    color: red;
}

.greentext {
    color: green;
}

/* --------- hide */
.hide {
    display: none;
}

.gameover {
    font-size: 5rem;
    color: red;
}

.restart {
    font-size: 2rem;
    height: 20%;
    width: 40%;
}

footer {
    margin-top: 10px;
}


/* --------- Media queries smaller than 400px */

@media (max-width: 400px) {
    .heading {
        font-size: 3rem;
    }

    #gamearea {
        height: 50vh;
    }

    .controls {
        width: 80px;
        height: 80px;
    }

    #playerchoice,
    #computerchoice {
        width: 80px;
        height: 150px;
    }

    #playerchoice h2,
    #computerchoice h2 {
        font-size: 1rem;
    }

    #scorearea p {
        letter-spacing: 1px;
        font-size: 0.75rem;
        margin: 5px;
        width: 75px;
    }
}

/* --------- Media queries bigger than 768px */
@media (min-width: 768px) {
    .heading {
        font-size: 3.5rem;
    }

    .controls {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    #playerchoice,
    #computerchoice {
        width: 100px;
        height: 150px;
    }

    #scorearea p {
        letter-spacing: 0.5px;
        font-size: 1rem;
        margin: 5px;
        width: 80%;
        padding-top: 20px;
    }
}

/* --------- Media queries bigger than 768px */
@media (min-width: 1024px) {
    #gamearea {
        height: 70vh;
        width: 70%
    }

    .controls {
        width: 150px;
        height: 150px;
        margin: 10px;
    }

    #playerchoice,
    #computerchoice {
        width: 150px;
        height: 200px;
    }

    #choicearea div {
        padding: 0 30px;
    }

    #scorearea {
        width: 100%;
    }

    #scorearea p {
        letter-spacing: 2px;
        font-size: 1.5rem;
        margin: 5px;
        padding-top: 40px;
    }
}