/* ---------- General Styles */
main {
    flex: 1 0 auto;
}

header {
    height: 15vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #AAD7D9;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0;
}

.heading {
    font-size: 3.5rem;
    margin-top: 10px;
}

#gamearea {
    background-color: #92C7CF;
    width: 90%;
    height: 45vh;
    margin: auto;
}

/* ---------- controls area */
#controlarea {
    margin-top: 10px;
}

.controls {
    background-color: white;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.controls img {
    width: 100%;
    height: auto;
}

/* ---------- Changes control images on mouse hover https://codepen.io/gg-1414/pen/pojXPKP */
.controls img:nth-child(2) {
    display: none;
}

.controls:hover img:nth-child(1) {
    display: none;
}

.controls:hover img:nth-child(2) {
    display: block;
}

/* ---------- choicearea */
#choicearea {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#choicearea div {
    padding: 10px;
}

#playerchoice,
#computerchoice {
    width: 100px;
    height: 150px;
}

#playerchoice img,
#computerchoice img {
    background-color: white;
    width: 100%;
    height: auto;
}

#result {
    font-size: 1.5rem;
}

/* ---------- scorearea */
#scorearea {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

#scorearea p {
    letter-spacing: 1px;
    font-size: 1rem;
    margin: 5px;
    margin-top: 30px;
    width: 75px;
}

footer {
    margin-top: 10px;
    width: 90%;
    margin: auto;
}

/* ---------- result color changes */
.redtext {
    color: red;
}

.greentext {
    color: green;
}

/* --------- hide */
.hide {
    display: none;
}

.gameover {
    font-size: 2.5rem;
    color: red;
}

.restart {
    font-size: 2rem;
    height: 20%;
    width: 40%;
    color: black;
    background-color: white;
}

/* --------- Media queries smaller than 400px */

@media (max-width: 400px) {

    header {
        height: 20vh;
    }

    #gamearea {
        height: 380px;
    }

}

/* --------- Media queries bigger than 768px */
@media (min-width: 540px) {
    header {
        height: 20vh;
    }

    #gamearea {
        height: 380px;
    }

}

/* --------- Media queries bigger than 768px */
@media (min-width: 768px) {

    header {
        height: 10vh;
    }

    .controls {
        background-color: white;
        width: 150px;
        height: 150px;
        cursor: pointer;
    }

    #gamearea {
        height: 600px;
    }
}